$primary: #202020;
$secondary: #121212;
$white: #fff;
$texts-whight: #D2D2D2;
$red: #ED3024;
$blue: #2A5FE7;
$link-blue: #107EFF;
$button-blue: #3137C9;
$black: #000;
$black-line: #1C1C1C;
$black-switcher: #0D0D0D;
$gray: #828282;
$gray-teatarea: #3F3F3F;

$z-index-sidebar: 100;
$z-index-header: 100;

$sidebar-width: 40rem;

