.header{
    display: flex;
    position: fixed;
    // height: 4rem;
    width: calc(100% - #{$sidebar-width});
    background-color: #0D0D0D;
    top: 0;
    right: 0;
    z-index: $z-index-header;
    box-shadow: 0 5px 22px rgba($black, .25);
    max-width: 100%;
}
