.profile__avatar{
    width: 150px;
    height: 150px;
    border: 2px solid $white;
    border-radius: 50%;
    object-fit: cover; // стабілізує фото
    box-shadow: 0 7px 20px rgba(#000, .25);
    margin-bottom: 2rem;
}
.profile__name{
    font-size: 1.8rem;
}
.profile__description{
    font-weight: 300;
    color: #DEDEDE;
    margin-bottom: 2rem;
}
.profile__info{
    font-size: 1.2rem;
    border-top: 1px solid #1c1c1c;
    border-bottom: 1px solid #1c1c1c;
    padding: 3rem 0;
    margin: 3rem 0;
}