.show-post{
    display: block;
    position: relative;
    width: 100%;
    height: 16.1rem;
    background: $primary;
    color: $texts-whight;
    margin-bottom: 3rem;
    box-shadow: 0 4px 4px rgba($black, .25);
}
.show-post__text{
    position: absolute;
    margin: 2.5rem 0 0;
    line-height: 2.1rem;
}
.show-post__time{
    position: absolute;     
    bottom: 2.5rem;
    color: $gray; 
}