.stories{
    display: grid;
    grid-template-columns:  repeat(5, 1fr ); // формуємо 4 колонки
    grid-column-gap: 10px; // відступ між колонками
    grid-template-rows: 25rem;
    justify-content: center;
    padding: 0;
    margin-bottom: 3rem;
}
.stories__item{
    // background-color: darkgray;
    overflow: hidden;
    position: relative;
    box-shadow: 0 5px 15px rgba($black, .2);
    cursor: pointer;
    // Ефект градієнтного затемнення з накладання нового шару через псевдоклас
    &::after{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-image: linear-gradient(to bottom, rgba($black, .6), rgba($black, 0)50%, rgba($black, .6));
        z-index: 2;
    }
    &:hover{
        .stories__item--preview{
            transform: scale(1.3);
        }
    }
}
// налаштування картинок
.stories__item--preview{
    width: 100%;
    height: 100%;
    object-fit: cover; // Вирівнює та правильно позиціонує карнтинкуS
    border-radius: 5px;
    z-index: 1;
    transition: .8s all;    
}
.stories__item--title, .stories__item--date{
    display: block;
    position: absolute;   
    z-index: 3;
}
.stories__item--title{
    top: 1.4rem;
    left: 1.4rem;
}
.stories__item--date{
    bottom: 1.4rem;
    right: 1.4rem;
}