<aside class="sidebar">
    <div class="sidebar__header">
        <img src="../assets/images/Rectangle 1.png" alt="header sidbar img">
    </div>
    <div class="sidebar__content">
        <div class="profile">
            <img class="profile__avatar" src="../assets/images/ava.jpg" alt="avatar">
            <h1 class="profile__name">Mykhailo Pylka</h1>
            <span class="profile__description">
                Блог front-end розробника
            </span>
            <ul class="social">
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="../assets/images/instagram (1) 1.svg " alt="instagram">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="../assets/images/facebook.svg" alt="facebook">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="../assets/images/pinterest 1.svg" alt="pinterest">
                    </a>
                </li>
            </ul>
            <div class="profile__info">
                <p>
                    Front-end розробник. Практик верстки сайтів. Створенням сайтів займаюсь з 2017-го року.
                </p>
            </div>
        </div>  <!-- /.profile -->
    </div> <!-- /.sidebar__content -->
    <div class="sidebar__footer">        
        <a class="btn btn--red" href="#">
            Мої роботи
        </a>
        <button class="btn btn--blue" type="button">
            Написати мені
        </button>
    </div>
</aside>